*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
/*css index */
._cursos{
  margin-top: 35px;
  background-color: white;
  display: flex;
}

.imagen{
  width: 100%;

}

.articulo1,.articulo2{
  flex-direction: column;
  justify-content: space-between;
}




/*header*/
header{
  background-color: white;
  background-size: cover;
  padding: 0;
  margin: 5%;
}
li {
display: inline;
text-decoration: none;
text-decoration-color: black;
size: 20px;
padding: 2%;
}

/* css index*/
.slider1{
  background-image: url("../img/codigo.jpg");
  height: 40vh;
  width: 100%;
  background-size: cover;
  background-position: center;

}
.slider2{
  background-image: url("../img/fondo3.jpg");
  height: 40vh;
  background-size: cover;
  background-position: center;

}
.slider3{
  background-image: url("../img/lugar.jpg");
  height: 40vh;
  background-size: cover;
  background-position: center;
}
.caja2{
  width: 100%;
  height: 200px;
}



/* css Login*/
  hr{
    position: relative;
    bottom: 30px;
  }
  .login h2 {
    color: #46485c;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
  }

  .login a {
    color: #46485c;
    text-decoration: none;
  }

  .login {
    width: 350px;
    position: relative;
    margin-top: 160px;
    margin-left: 400px;
    background: rgba(0, 0, 0, 0.2);
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 0px 1px 0px rgba(0,0,0,0.3),inset 0px 1px 0px rgba(255,255,255,0.07)
  }

  input[type="text"], input[type="password"],input[type="email"] {
    width: 250px;
    padding: 25px 0px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgba(255,255,255,0.04);
    outline: none;
    color: #46485c;
    font-size: 12px;
  }
  input[type=checkbox] {
    display: none;
  }

  label {
    display: block;
    position: absolute;
    margin-right: 10px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: transparent;
    content: "";
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: 3px solid #46485c;
  }
  .forgot {
    margin-top: 30px;
    display: block;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
  }
  .forgot:hover {
    margin-top: 30px;
    display: block;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
    color: #6d7781;
  }

  .remember {
    padding: 30px 0px;
    font-size: 12px;
    text-indent: 25px;
    line-height: 15px;
  }

  #remember:checked ~ label[for=remember] {
    background: #ee3203;
  }

  input[type="submit"] {
    background: #0786ee;
    border: 0;
    width: 250px;
    height: 40px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  input[type="submit"]:hover {
    background: #16aa56;
  }

  ::-webkit-input-placeholder {
    color: #46485c;
  }

  [placeholder]:focus::-webkit-input-placeholder {
    transition: all 0.2s linear;
    transform: translate(10px, 0);
    opacity: 0;
  }


/* css formulario*/
.formulario h2 {
  color: #46485c;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.formulario {
  max-width:350px;
  position: relative;
  margin-top: 160px;
  margin-left: 400px;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0px 1px 0px rgba(0,0,0,0.3),inset 0px 1px 0px rgba(255,255,255,0.07)
}


/* css preguntas*/
.preguntas{
  max-width: 900px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.preguntas li{
  list-style-type: none;
}
/*css footer*/
footer{
  position: relative;
  bottom: 0;
}
h4{
  color: #46485c;
}
a{
  color: white;
}
.row{
  background-color: black;
  color: white;
}

.copyright{
  padding: 10px 0;
  background-color: #424141;
  color: #8b8e94;
}
