*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
/*header*/
header{
  background-color: white;   
  background-size: cover; 
  padding: 0;
  margin: 5%;
}
li {
display: inline;
text-decoration: none;
text-decoration-color: black;
size: 20px;
padding: 2%;
}

.navbarSupportedContent {
  float: right;
  color: black;
  box-shadow: 2px 2px 5px #999;
}
.nav-link{
  color: black;
  box-shadow: 2px 2px 5px #999;
  float: right;
  size: 20px;
  padding: 2%;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.compra{
  float:right; 
  size: 20px;
padding: 2%;
 
}




/* css index*/


/* css Login*/
/*body {
    background: #2f313d;
    color: #46485c;
    font-family: sans-serif;
  }
  */
  hr{
    position: relative;
    bottom: 30px;
  }
  .login h2 {
    color: #46485c;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .login a {
    color: #46485c;
    text-decoration: none;
  }
  
  .login {
    width: 350px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -184px 0px 0px -155px;
    background: rgba(0, 0, 0, 0.2);
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 0px 1px 0px rgba(0,0,0,0.3),inset 0px 1px 0px rgba(255,255,255,0.07)
  }
  
  input[type="text"], input[type="password"],input[type="email"] {
    width: 250px;
    padding: 25px 0px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgba(255,255,255,0.04);
    outline: none;
    color: #46485c;
    font-size: 12px;
  }
  input[type=checkbox] {
    display: none;
  }
  
  label {
    display: block;
    position: absolute;
    margin-right: 10px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: transparent;
    content: "";
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: 3px solid #46485c;
  }
  .forgot {
    margin-top: 30px;
    display: block;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
  }
  .forgot:hover {
    margin-top: 30px;
    display: block;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
    color: #6d7781;
  }
  
  .remember {
    padding: 30px 0px;
    font-size: 12px;
    text-indent: 25px;
    line-height: 15px;
  }
  
  #remember:checked ~ label[for=remember] {
    background: #ee3203;
  }
  
  input[type="submit"] {
    background: #0786ee;
    border: 0;
    width: 250px;
    height: 40px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  input[type="submit"]:hover {
    background: #16aa56;
  }
  
  ::-webkit-input-placeholder {
    color: #46485c;
  }
  
  [placeholder]:focus::-webkit-input-placeholder {
    transition: all 0.2s linear;
    transform: translate(10px, 0);
    opacity: 0;
  }


/* css formulario*/
.formulario h2 {
  color: #46485c;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.formulario {
  width: 350px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -184px 0px 0px -155px;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0px 1px 0px rgba(0,0,0,0.3),inset 0px 1px 0px rgba(255,255,255,0.07)
}


/* css footer*/
footer {
  position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background-color: red;
   
}
div.row-sm-12{
  background-color: darkgrey;
  color: black;

}