*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
/*css index */
._cursos{
  margin-top: 35px;
  background-color: white;
  display: flex;
}

.imagen{
  width: 100%;
  height: 350px;

}
p.descrip{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 5px;
}

.articulo1,.articulo2{
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 900px) {
  .row_cursos {
    padding: 20px;
    width: 95vw;
  }
}
  @media (max-width: 450px){
    .row_cursos {
      width: 100%;
      clear: both;
      font-size: 13px;
    }
  }



/*header*/
/* Clase agregada */

.__show {
  display:block!important;
}

.header{
  z-index: 8;
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  left:0;
  top:0;
  width:100%;
  background-color: #cfcfcf;
  }
  .navbar {
    background-color: #cfcfcfbf;
    z-index: 8;
  }
  .header a{
    color: black;
    text-decoration: none;
    padding: 2rem 0;
  }
  .logo-nav-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
  }

  .logo{
      letter-spacing: 15px;
      font-size: 1.3em;
  }

  .menu-icon{
      display:none;
  }
  
  .navigation ul{
  margin:0;
  padding:0;
  list-style: none;
  }
  .navigation ul li{
    display: inline-block;
  }
  .navigation ul li a{
    display: block;
    padding:0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
  
  }
  .navigation ul li a:hover{
      background: #2081ff;
  }
@media (max-width: 767px){

  .menu-icon{
      display: block;
      cursor: pointer;
      padding: 0.5rem 1rem;
  }

      .navigation{
  width:100%;
  margin-top: 1rem;
}
.navigation ul{
  display:none;

}
.navigation ul.show{
  display: block;
}
  .navigation ul li{
display: block;
}

  .navigation ul li a{
display: block;
padding:0.5rem 0rem;
transition: all 0.4s linear;
border-radius: 5px;
}
}

/* css index*/
.slider1{
  background-image: url("../img/codigo.jpg");
  height: 40vh;
  width: 100%;
  background-size: cover;
  background-position: center;

}
.slider2{
  background-image: url("../img/fondo3.jpg");
  height: 40vh;
  background-size: cover;
  background-position: center;

}
.slider3{
  background-image: url("../img/lugar.jpg");
  height: 40vh;
  background-size: cover;
  background-position: center;
}
.caja2{
  width: 100%;
  height: 200px;
}



/* css Login*/
  hr{
    position: relative;
    bottom: 30px;
  }
  .login h2 {
    color: #46485c;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
  }

  .login a {
    color: #46485c;
    text-decoration: none;
  }

  .login {
    width: 350px;
    position: relative;
    margin-top: 160px;
    background: rgba(0, 0, 0, 0.2);
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 0px 1px 0px rgba(0,0,0,0.3),inset 0px 1px 0px rgba(255,255,255,0.07)
  }

  input[type="text"], input[type="password"],input[type="email"],input[type="file"] {
    width: 250px;
    padding: 25px 0px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgba(255,255,255,0.04);
    outline: none;
    color: #46485c;
    font-size: 12px;
  }

  /*label {
    display: block;
    position: absolute;
    margin-right: 10px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: transparent;
    content: "";
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: 3px solid #46485c;
  }*/
  .forgot {
    margin-top: 30px;
    display: block;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
  }
  .forgot:hover {
    margin-top: 30px;
    display: block;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
    color: #6d7781;
  }

  .recordarte {
    padding: 30px 0px;
    font-size: 12px;
    text-indent: 25px;
    line-height: 15px;
  }


  input[type="submit"] {
    background: #0786ee;
    border: 0;
    width: 250px;
    height: 40px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  input[type="submit"]:hover {
    background: #16aa56;
  }

  ::-webkit-input-placeholder {
    color: #46485c;
  }

  [placeholder]:focus::-webkit-input-placeholder {
    transition: all 0.2s linear;
    transform: translate(10px, 0);
    opacity: 0;
  }


/* css formulario*/
.formulario h2 {
  color: #46485c;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.formulario {
  max-width:350px;
  position: relative;
  margin-top: 160px;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0px 1px 0px rgba(0,0,0,0.3),inset 0px 1px 0px rgba(255,255,255,0.07)
}


/* css preguntas*/
.preguntas{
  max-width: 900px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.preguntas li{
  list-style-type: none;
}
/*css footer*/
footer{
  position: relative;
  bottom: 0;
}
h4{
  color: #46485c;
}
a{
  color: white;
}
.main-footer{
  background-color: black;
  color: white;
}
._mapa{
  position: relative;
  padding-bottom: 20.25%;
  width: 0;
  height: 0;
  overflow: hidden;
}
._mapa iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.copyright{

  padding: 10px 0;
  background-color: #424141;
  color: #8b8e94;
}
